.lesson {
  background-color: lemonchiffon;
}

.title {
  color: darkblue;
}


#email {
  background-color: goldenrod;
} 
.lesson1 {
  background-color: aqua;
}



#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}
